.container
  max-width: 1170px
  width: 95%
  margin: auto
  
.hero
  background: url(../img/bg.jpg)
  height: 100vh
  position: relative
  &::before
    content: ''
    background-color: rgba(44, 62, 80, 0.3)
    position: absolute
    left: 0
    top: 0
    width: 100%
    height: 100%

body
  margin: 0
  // font-family: 'Raleway', sans-serif


.title
  font-family: 'Comfortaa', cursive
  position: relative
  color: #ffffff
  margin: 0
  // text-transform: uppercase
  display: flex
  justify-content: center
  align-items: center
  font-size: 60px
  font-weight: 500

.subtitle
  position: relative
  font-family: 'Comfortaa', cursive
  color: #ffffff
  font-size: 16px
  margin: 15px 0
  display: flex
  font-weight: 300
  justify-content: center
  align-items: center

.hero__container
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center
  align-content: center
  height: 100%

.scroll-down
  position: absolute
  left: 50%
  bottom: 40px
  border: 2px solid #fff
  border-radius: 50%
  height: 50px
  width: 50px
  margin-left: -15px
  display: block
  z-index: 10
  text-align: center
  background: url(../img/arrow.svg) no-repeat center

.header
  padding: 20px 0

.menu
  display: flex
  justify-content: space-between
  align-items: center
  
.logo
  &__link
    font-family: 'Pacifico', cursive
    text-decoration: none
    color: #222
    font-size: 20px
    &:hover
      color: #0494ad

.nav
  &__item
    text-transform: uppercase
    font-family: 'Comfortaa', cursive
    text-decoration: none
    color: #222
    margin-right: 1rem
    font-size: 14px
    &:hover
      color: #0494ad
    

.works, .certificates, .recommendation
  padding: 80px 0
  &__title
    color: #000000
    font-size: 30px
    margin-bottom: 80px

.works
  background: #f5f5f5
  &__link
    &:hover
      &::before
        position: absolute
        content: ''
        width: 100%
        height: 98%
        background: rgba(#0494ad, 0.2)
        // rgba(#9e5406, 0.2)
  &__card
    margin-bottom: 2rem


.cards
  display: flex
  justify-content: space-around
  max-width: 1200px
  flex-wrap: wrap
  margin: auto

.card
  // position: relative
  max-width: 320px
  flex-basis: 30%
  &__image
    height: 200px
    width: 320px
    object-fit: cover
  &__block
    position: relative
  // &__name
  //   position: absolute
  //   top: 20%
  //   text-align: center
  //   color: #ffffff
  //   font-family: 'Comfortaa', cursive
  
.certificates
  &__image
    width: 320px
    object-fit: cover
  &__cards
    max-width: 900px
    margin-bottom: 80px
  &__card
    margin: auto

.recommendation
  background: #f5f5f5
  &__card
    margin: auto

.footer
  padding: 50px 0
  background: #222
  &__title
    font-size: 30px
    margin-bottom: 50px

.social-links
  max-width: 10rem
  margin: auto
  list-style: none
  display: flex
  justify-content: space-around
  margin-bottom: 3rem

.link
  width: 50px
  height: 50px
  &--vk
    background: url(../img/vk.svg) no-repeat
  &--mail
    background: url(../img/mail.svg) no-repeat
  &:hover
    transform: scale(1.3)
    transition: transform 0.2s

.copyright
  color: #ffffff
  text-align: center
  margin: 0
  &__link
    text-decoration: none
    color: #ffffff
    &:hover
      color: #0494ad
