.container {
  max-width: 1170px;
  width: 95%;
  margin: auto; }

body {
  margin: 0;
  outline: none; }

.title {
  font-family: 'Comfortaa', cursive;
  position: relative;
  color: #ffffff;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 60px;
  font-weight: 500; }

.subtitle {
  position: relative;
  font-family: 'Comfortaa', cursive;
  color: #ffffff;
  font-size: 16px;
  margin: 15px 0;
  display: flex;
  font-weight: 300;
  justify-content: center;
  align-items: center; }

.hero {
  background: url(../img/bg.jpg) no-repeat center/cover;
  height: 100vh;
  position: relative; }
  .hero::before {
    content: '';
    background-color: rgba(44, 62, 80, 0.3);
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; }

.hero__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
  height: 100%; }

.scroll-down {
  position: absolute;
  left: 50%;
  bottom: 40px;
  border: 2px solid #fff;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  margin-left: -15px;
  display: block;
  z-index: 10;
  text-align: center;
  background: url(../img/arrow.svg) no-repeat center; }

.header {
  border-bottom: 1px solid #f5f5f5;
  padding: 20px 0; }

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .menu-button {
    display: none;
    z-index: 10; }
    .menu-button-activ {
      height: 0 !important; }
      .menu-button-activ::before {
        margin-top: 0;
        transform: rotate(45deg) translateY(10px);
        background-color: #222 !important;
        z-index: 299; }
      .menu-button-activ::after {
        margin-top: 0;
        transform: rotate(-45deg) translateY(-10px);
        background-color: #222 !important;
        z-index: 299; }

.logo__link {
  font-family: 'Pacifico', cursive;
  text-decoration: none;
  color: #222;
  font-size: 20px; }

.nav__item {
  text-transform: uppercase;
  font-family: 'Comfortaa', cursive;
  text-decoration: none;
  color: #222;
  margin-right: 1rem;
  font-size: 14px; }

.burger-menu {
  display: block;
  width: 100%;
  position: absolute;
  right: 0;
  top: 0;
  background-color: #ffffff;
  z-index: 199;
  padding: 1.5rem 0; }
  .burger-menu__nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .burger-menu__nav a {
      padding: 0.5rem 0;
      margin: 0 1rem;
      font-size: 1rem;
      text-align: center;
      text-transform: uppercase;
      font-family: 'Comfortaa', cursive;
      text-decoration: none;
      color: #222; }
      .burger-menu__nav a:hover::after {
        display: none; }

.burger-menu-none {
  display: none !important; }

.works {
  background: #ffffff;
  padding: 80px 0; }
  .works__card {
    margin-bottom: 2rem; }
  .works__title {
    color: #000000;
    font-size: 30px;
    margin-bottom: 80px; }

.slider {
  max-width: 800px;
  height: 500px;
  margin: auto;
  position: relative; }

.slider-btn {
  position: absolute;
  top: 50%;
  width: 30px;
  height: 45px;
  outline: none;
  border: none;
  cursor: pointer; }
  .slider-btn--prev {
    left: -10%;
    background: url(../img/arrow-prev.svg) no-repeat center; }
  .slider-btn--next {
    right: -10%;
    background: url(../img/arrow-next.svg) no-repeat center; }

.slider-dots {
  bottom: 0;
  width: 100%;
  padding: 0;
  text-align: center; }

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 5px;
  border-radius: 50%;
  border: none;
  display: inline-block;
  background-color: #dbdbdb;
  transition: background-color, transform .4s; }
  .dot-active {
    background-color: #0494ad; }

.slide {
  height: 100%;
  display: none; }
  .slide--active {
    display: block; }
  .slide__image {
    -o-object-fit: cover;
    object-fit: cover;
    height: 93%;
    width: 100%; }
  .slide__name {
    font-family: 'Comfortaa', cursive;
    text-align: center;
    font-size: 1.2rem; }

.certificates {
  background: #f5f5f5;
  padding: 80px 0; }
  .certificates__image {
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover; }
  .certificates__cards {
    max-width: 900px;
    margin-bottom: 80px; }
  .certificates__card {
    margin: auto;
    position: relative;
    cursor: pointer; }
  .certificates__title {
    color: #000000;
    font-size: 30px;
    margin-bottom: 80px; }

.cards {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: auto; }

.card {
  max-width: 320px;
  flex-basis: 30%; }
  .card__image {
    height: 200px;
    width: 320px;
    -o-object-fit: cover;
    object-fit: cover; }
  .card__block {
    position: relative; }
  .card__name {
    font-family: 'Comfortaa', cursive;
    text-align: center;
    font-size: 1.2rem; }

.footer {
  padding: 50px 0;
  background: #222; }
  .footer__title {
    font-size: 30px;
    margin-bottom: 50px; }

.social-links {
  max-width: 10rem;
  margin: auto;
  list-style: none;
  display: flex;
  justify-content: space-around;
  margin-bottom: 3rem; }

.link {
  width: 50px;
  height: 50px; }
  .link--vk {
    background: url(../img/vk.svg) no-repeat; }
  .link--mail {
    background: url(../img/mail.svg) no-repeat; }

.copyright {
  color: #ffffff;
  text-align: center;
  margin: 0; }
  .copyright__link {
    text-decoration: none;
    color: #ffffff; }

@media screen and (max-width: 992px) {
  .container {
    max-width: 760px; }
  .hero {
    height: 50vh; }
    .hero__title {
      font-size: 40px; }
  .header__container {
    position: relative; }
  .nav {
    display: none; }
  .menu-button--light {
    position: absolute;
    right: 0;
    top: 1rem;
    display: block;
    width: 30px;
    height: 2px;
    background-color: #222;
    cursor: pointer; }
    .menu-button--light::before {
      content: '';
      position: absolute;
      right: 0px;
      top: 0px;
      display: block;
      width: 30px;
      height: 2px;
      background-color: #222;
      margin-top: -7px;
      transition: transform 0.2s; }
    .menu-button--light::after {
      content: '';
      position: absolute;
      right: 0px;
      top: 0px;
      display: block;
      width: 30px;
      height: 2px;
      background-color: #222;
      margin-top: 7px;
      transition: transform 0.2s; }
  .slider {
    max-width: 550px;
    height: 350px; }
  .slide__image {
    height: 90%; }
  .slide__name {
    font-size: 1rem; }
  .slider-dots {
    display: none; }
  .scroll-down {
    display: none; } }

@media screen and (max-width: 768px) {
  .container {
    max-width: 570px; }
  .hero__title {
    font-size: 35px;
    text-align: center; }
  .hero__subtitle {
    text-align: center; }
  .cards {
    flex-direction: column; }
  .card {
    max-width: 70%;
    flex-basis: 100%; }
  .certificates__card {
    margin-bottom: 2rem; }
  .slider-btn--next {
    right: -7%; }
  .slider-btn--prev {
    left: -7%; }
  .slider {
    max-width: 500px;
    height: 320px; } }

@media screen and (max-width: 576px) {
  .container {
    max-width: 90%; }
  .hero__title {
    font-size: 30px; }
  .slider-btn--next {
    right: 40%; }
  .slider-btn--prev {
    left: 40%; }
  .slide__name {
    font-size: 0.75rem; }
  .slider-btn {
    top: 102%; }
  .certificates__title, .works__title, .footer__title {
    font-size: 19.5px; } }

@media screen and (max-width: 375px) {
  .hero__title {
    font-size: 30px; }
  .scroll-down {
    left: 45%; }
  .card {
    max-width: 100%; }
  .works, .certificates {
    padding: 40px 0 60px; }
    .works__title, .certificates__title {
      margin-bottom: 40px; }
  .slider {
    max-width: 100%;
    height: 200px; }
  .slide__name {
    font-size: 0.6rem;
    -webkit-font-size: 8px; }
  .certificates__title {
    text-align: center; } }

@media screen and (min-width: 992px) {
  .logo__link:hover {
    color: #0494ad; }
  .nav__item:hover {
    color: #0494ad; }
  .works__link:hover::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 98%;
    background: rgba(4, 148, 173, 0.2); }
  .dot:hover {
    background-color: #0494ad; }
  .certificates__card:hover {
    transform: scale(1.1);
    transition: transform 0.2s; }
  .link:hover {
    transform: scale(1.3);
    transition: transform 0.2s; }
  .copyright__link:hover {
    color: #0494ad; } }
